.productList {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 20px; 
    padding: 25px 12%;
  }
  
  .productItem {
    width: 200px; 
    min-height: 270px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    background-color: #3b3542;
  }
  
  .productImage {
    width: 100%; 
    min-height: 120px;
    max-height: 150px; 
    border-radius: 10px;
  }
  
  .productName {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .productPrice {
    color: #4CAF50;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .addButton {
    padding: 10px;
    background-image:linear-gradient( 150deg, #ff00aa, #90f,#00DDFF);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .addButton:hover {
    background-image:linear-gradient( 150deg, #ff0000, rgba(255, 208, 0, 0.596),#ff0062);
    
  }
  